.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 94px;
    background: yellow;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        }
}

.padding {
    padding-bottom: 94px;
}

.footer__signature {
    background: #073700;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
}